# python
*.pyc
*.pyo
*.pyd
*.pyz
*/__pycache__/*
__pycache__/
*.egg-info
*.egg

# pyinstaller
*.spec
dist
build

# project
*.log
*.json
logs
data

# VSCode
.history

# Vim
*.swp
*.swp~

# GVim
*.un~
*.un